body {
    margin: 0;
}

:root {
    --primary-color-light: #cbe1f5;
    --primary-color-regular: #84b3e0;
    --primary-color-dark: #3e6a9d;
    --secondary-color-light: #bcde9a;
    --secondary-color-regular: #7fae5a;
    --secondary-color-dark: #436d29;
}
